@keyframes flash-red {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #e56564;
  }
  100% {
    background-color: inherit;
  }
}

kbd {
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 0.1em rgba(0, 0, 0, 0.5);
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  margin-right: 2px;
  transform: translateY(-1px);
}

.keybinds > div {
  cursor: pointer;
}
