---
import Layout from "../layouts/Layout.astro";
---

<Layout title="atelier">
  <main>
    <h1>Checklists</h1>
    <ul>
      <li>
        <a
          href="https://calvin.sh/tools/checklist/#name=After+intro&items=%5B%0A++%7B%0A++++%22title%22%3A+%22Work+format%22%2C%0A++++%22subtitle%22%3A+%2250+minute+work%2C+10+minute+break%2C+50+minute+work%2C+demos%22%0A++%7D%2C%0A++%7B%0A++++%22title%22%3A+%22Demo+format%22%2C%0A++++%22subtitle%22%3A+%22demos+are+30s+to+2m%2C+ask+a+host+to+sign+up%22%0A++%7D%2C%0A++%7B+%22title%22%3A+%22Where+things+are%22%2C+%22subtitle%22%3A+%22water%2C+bathroom%2C+snacks%2C+trash%22+%7D%2C%0A++%7B+%22title%22%3A+%22Quiet+%2F+Yap%22+%7D%0A%5D%0A"
        >
          After Intros
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a
          href="https://calvin.sh/tools/checklist/#name=Before+demos&items=%5B%0A++%7B+%22title%22%3A+%22Ordering%22%2C+%22subtitle%22%3A+%22put+first+time+demoers+in+the+middle+or+end%22+%7D%0A%5D%0A"
        >
          Before Demos
        </a>
      </li>
      <li>
        <a
          href="https://calvin.sh/tools/checklist/#name=After+demos&items=%5B%0A++%7B+%22title%22%3A+%22Ask+for+donations%22%2C+%22subtitle%22%3A+%22ask+them+to+go+to+atelier.ac%22+%7D%2C%0A++%7B+%22title%22%3A+%22Discord+%2F+IG%22+%7D%2C%0A++%7B+%22title%22%3A+%22Tell+people+about+Weeknights+session%22+%7D%0A%5D%0A"
        >
          After Demos (UBC)
        </a>
      </li>
      <li>
        <a
          href="https://calvin.sh/tools/checklist/#name=After+demos&items=%5B%0A++%7B+%22title%22%3A+%22Thank+the+cooks%22+%7D%2C%0A++%7B%0A++++%22title%22%3A+%22Solicit+cooking+volunteers%22%2C%0A++++%22subtitle%22%3A+%22ask+them+to+talk+to+a+host+to+sign+up%22%0A++%7D%2C%0A++%7B+%22title%22%3A+%22Ask+for+donations%22%2C+%22subtitle%22%3A+%22ask+them+to+go+to+atelier.ac%22+%7D%2C%0A++%7B+%22title%22%3A+%22Discord+%2F+IG%22+%7D%2C%0A++%7B+%22title%22%3A+%22Tell+people+about+UBC+session%22+%7D%0A%5D%0A"
        >
          After Demos (Weeknights)
        </a>
      </li>
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100vh;

    padding: 1rem;
  }

  ul {
    margin: 2rem 0;
  }

  li {
    margin: 0.3rem 0;
  }
</style>
