---
import Layout from "../layouts/Layout.astro";

function getChecklistUrl(
  name: string,
  items: { title: string; subtitle?: string }[]
) {
  const url = new URL("https://calvin.sh/tools/checklist");
  const searchParams = new URLSearchParams();
  searchParams.set("name", name);
  searchParams.set("items", JSON.stringify(items));
  url.hash = searchParams.toString();

  return url.toString();
}

const checklists: {
  tag?: "UBC" | "Weeknights";
  name: string;
  items: { title: string; subtitle?: string }[];
}[][] = [
  [
    {
      tag: "UBC",
      name: "Setup (UBC)",
      items: [
        {
          title: "Stick sign on door",
          subtitle: "the sign should be in the bag with the snacks",
        },
        {
          title: "Lay out snacks, open unopened bags",
          subtitle:
            "open the bags in a resealable way, use the scissors in the bag if necessary",
        },
        {
          title: "Set up computer",
          subtitle:
            "open atelier.place/session, pick a QOTD, install adblock, play music on YouTube",
        },
        {
          title: "Hard start intros 12:10",
          subtitle: "if there are more than 5 people in the room",
        },
      ],
    },
    {
      tag: "Weeknights",
      name: "Setup (Weeknights)",
      items: [
        {
          title: "Stick sign on door",
          subtitle: "the sign should be in the snack cabinet",
        },
        {
          title: "Lay out snacks, open unopened bags",
          subtitle:
            "open the bags in a resealable way, use the scissors if necessary",
        },
        {
          title: "Set up computer",
          subtitle:
            "open atelier.place/session, pick a QOTD, play music on Spotify",
        },
        {
          title: "Hard start intros 6:10",
          subtitle: "if there are more than 5 people in the room",
        },
      ],
    },
  ],
  [
    {
      tag: "UBC",
      name: "Start Intros (UBC)",
      items: [
        { title: "Welcome everyone" },
        {
          title: "Introduce Atelier",
          subtitle: "a place to work on your projects (no school no work)",
        },
        {
          title: "Intro format",
          subtitle:
            "name, what you are working on, and your answer to the QOTD",
        },
        {
          title: "Start intros by example",
          subtitle: "pass it on the side with more regulars",
        },
      ],
    },
    {
      tag: "Weeknights",
      name: "Start Intros (Weeknights)",
      items: [
        { title: "Welcome everyone" },
        {
          title: "Introduce Atelier",
          subtitle: "a place to work on your projects (no school no work)",
        },
        {
          title: "Intro format",
          subtitle:
            "name, what you are working on, and your answer to the QOTD",
        },
        {
          title: "Start intros by example",
          subtitle: "pass it on the side with more regulars",
        },
      ],
    },
    {
      tag: "UBC",
      name: "After intro (UBC)",
      items: [
        {
          title: "Work format",
          subtitle: "50 minute work, 10 minute break, 50 minute work, demos",
        },
        {
          title: "Demo format",
          subtitle: "demos are 30s to 2m, a host will come around and solicit",
        },
        {
          title: "Where things are",
          subtitle: "water, bathroom, snacks, trash",
        },
        { title: "Quiet / Collab zones" },
      ],
    },
    {
      tag: "Weeknights",
      name: "After intro (Weeknights)",
      items: [
        {
          title: "Work format",
          subtitle: "50 minute work, 10 minute break, 50 minute work, demos",
        },
        {
          title: "Demo format",
          subtitle: "demos are 30s to 2m, ask a host to sign up",
        },
        {
          title: "WiFi",
        },
        {
          title: "Where things are",
          subtitle: "water, bathroom, snacks, trash",
        },
        { title: "Quiet / Collab zones" },
      ],
    },
  ],
  [
    {
      name: "Before Demos",
      items: [
        {
          title: "Ordering",
          subtitle: "put first time demoers in the middle or end",
        },
        {
          title: "Find someone to timer",
          subtitle:
            "find someone with a laptop and open atelier.place/timer, ask them to turn the laptop towards the demoer and turn on the sound",
        },
      ],
    },
    {
      tag: "UBC",
      name: "After Demos (UBC)",
      items: [
        { title: "Thank everyone for coming!" },
        {
          title: "Ask for donations",
          subtitle: "ask them to donate when signing up",
        },
        {
          title: "Discord / IG",
          subtitle: "tell people about the discord and ig gc",
        },
        {
          title: "Weeknights sessions",
          subtitle: "tell people about Weeknights",
        },
        { title: "Group photos", subtitle: "post on ig and tag people" },
        {
          title: "Solicit Luma header designs",
          subtitle: "ask them to talk to send to group chat",
        },
      ],
    },
    {
      tag: "Weeknights",
      name: "After Demos (Weeknights)",
      items: [
        { title: "Food demo" },
        { title: "Thank the cooks" },
        { title: "Thank everyone for coming!" },
        { title: "Ask to clean plates" },
        { title: "Dishwasher not work!!!" },
        {
          title: "Solicit cooking volunteers",
          subtitle: "ask them to talk to a host to sign up",
        },
        {
          title: "Solicit Luma header designs",
          subtitle: "ask them to talk to send to group chat",
        },
        {
          title: "Ask for donations",
          subtitle: "ask them to put a bigger number on their ticket",
        },
        {
          title: "Discord / IG",
          subtitle: "tell people about the discord and ig gc",
        },
        { title: "UBC sessions (Sundays at noon)" },
        { title: "Group photos", subtitle: "post on ig and tag people" },
        { title: "Upload photos" },
      ],
    },
  ],
  [
    {
      tag: "UBC",
      name: "Teardown (UBC)",
      items: [
        { title: "Remove sign", subtitle: "put the sign back in the bag" },
        {
          title: "Pack up snacks",
          subtitle: "put the snacks back in the snack basket",
        },
        {
          title: "📸 Take a photo of the remaining snacks",
          subtitle: "post on the whatsapp group",
        },
        { title: "Turn off computer" },
      ],
    },
    {
      tag: "Weeknights",
      name: "Teardown (Weeknights)",
      items: [
        {
          title: "Remove sign",
          subtitle: "Put the sign back in the snack cabinet",
        },
        {
          title: "Pack up snacks",
          subtitle: "Put the snacks back in the snack cabinet",
        },
        {
          title: "📸 Take a photo of the remaining snacks",
          subtitle: "post on the whatsapp group",
        },
        {
          title: "📸 Take a photo of the leftover food",
          subtitle: "post on the whatsapp group",
        },
        { title: "Turn off computer" },
      ],
    },
  ],
];
---

<Layout title="Checklists - Atelier">
  <main>
    <h1>Checklists</h1>

    <div>
      filter: <select class="filter">
        <option value="">All</option>
        <option value="UBC">UBC</option>
        <option value="Weeknights">Weeknights</option>
      </select>
    </div>

    <script>
      const filterSelect =
        document.querySelector<HTMLSelectElement>("select.filter")!;

      const date = new Date();
      const day = date.getDay();

      if (day === 0 || day === 6) {
        // Sunday or Saturday
        filterSelect.value = "UBC";
      } else {
        // Weeknights
        filterSelect.value = "Weeknights";
      }
    </script>

    {
      checklists.map((checklist) => (
        <ul>
          {checklist.map((item) => (
            <li>
              <a
                href={getChecklistUrl(item.name, item.items)}
                data-tag={item.tag}
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      ))
    }
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100vh;

    padding: 1rem;
  }

  select {
    font-family: sans-serif;
  }

  div:has(select > option[value="UBC"]:checked) ~ ul {
    li:has(a[data-tag="Weeknights"]) {
      display: none;
    }
  }
  div:has(select > option[value="Weeknights"]:checked) ~ ul {
    li:has(a[data-tag="UBC"]) {
      display: none;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  ul {
    margin: 3rem 0;
    font-size: 1.3rem;
  }

  li {
    margin: 1rem 0;
  }

  a {
    color: black;
  }
</style>
