---
import { Timer as TimerComponent } from "../components/Timer/Timer";
import Layout from "../layouts/Layout.astro";
---

<Layout title="timer">
  <div>
    <TimerComponent client:only="react" />
  </div>
</Layout>

<style lang="scss">
  @use "inter-ui/variable" with (
    $inter-font-display: swap,
    $inter-font-path: "inter-ui/variable"
  );

  @include variable.all;

  div {
    font-family: "InterVariable", "system-ui";
    height: 100vh;
    user-select: none;
  }
</style>
