---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tools - Atelier">
  <main>
    <h1>Tools</h1>

    <ul>
      <li>
        <a href="/checklists">Checklists</a>
      </li>
      <li>
        <a href="/session">Session Board</a>
      </li>
      <li>
        <a href="/timer">Timer</a>
      </li>
      <li>
        <a href="/qr">Donation QR Code</a>
      </li>
      <li>
        <a href="/discord-qr">Discord/Instagram QR Code</a>
      </li>
      <li>
        <a href="/logo">Logo</a>
      </li>
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100vh;

    padding: 1rem;
  }

  ul {
    margin: 3rem 0;
    font-size: 1.3rem;
  }

  li {
    margin: 1rem 0;
  }

  a {
    color: black;
  }
</style>
