@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hahmlet";
  src: url("/fonts/Hahmlet-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hahmlet";
  src: url("/fonts/Hahmlet-VariableFont_wght.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "handwriting";
  src: url("/fonts/KellyChongV2-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .animate-scroll-left {
    animation: scroll-left 15s linear infinite;
  }
}

@media (min-width: 769px) {
  .animate-scroll-left {
    animation: scroll-left 30s linear infinite;
  }
}
